name: Release Version

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  version:
    name: Version and Tag
    runs-on: ubuntu-latest
    permissions:
      contents: write       
      pull-requests: write  
      id-token: write       

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Create Release PR or Create Tag
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm ci:version
          
          publish: pnpm ci:release
          commit: "chore: Version Packages"
          title: "chore: Version Packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Push Tags
        if: steps.changesets.outputs.published == 'true'
        run: git push --follow-tags